

.portfolio {
    height: 800px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.portfolio_window {
    height: 100%;
    width: 100%;
}
.portfolio_select {
    width: 200px;
    height: 50px;
    justify-content: center;
}
.portfolio_select option {
    color: var(--color-reverse);
    background: var(--color-theme);
}
.portfolio_select option:hover {
    background: var(--color-light);
}
.portfolio_select::after {
    color: var(--color-first);
}

.portfolio_form_c {
    position: fixed;
    width: 60%;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: var(--color-theme);
    box-shadow: 5px 5px 10px var(--color-block-shadow);
    display: none;
    overflow: hidden;
}
.portfolio_form_c.show {
    display: flex;
}




.portfolio_name_c, .portfolio_name_c > .inputField {
    width: 100%;
    height: 100%;
}
.portfolio_name_c {
    align-items: center;
}
.portfolio_name_c > .inputField {
    border: none;
}
.portfolio_name_c > .inputField > span {
    margin: -45px;
    color: var(--color-text-theme);
}

.portfolio_login, .portfolio_createone {
    margin: 10px;
}
.portfolio_createone {
    width: 100px;
}
.portfolio_create, .portfolio_delete {
    margin: 20px;
}

.portfolio_input:focus + span, .portfolio_input:valid + span {
    display: none;
}
