


.stocks {
    width: 100%;
}
.stock_header, .stock_subheader {
    color: var(--color-text-theme);
    margin: 10px;
}
.stock_header {
    text-transform: uppercase;
}
.stock_subheader {
    font-size: 0.9em;
}



.stock_window {
    width: 100%;
    height: 100%;
    margin: 0 10px 20px 0;
}
.stock_title {  grid-area: stock_title;  }
.stock_chart {  grid-area: stock_chart;  }
.stock_ratings {  grid-area: stock_ratings;  }
.stock_suggestions {  grid-area: stock_suggestions;  }
.stock_charts {  grid-area: stock_charts;  }
.stock_financials {  grid-area: stock_financials;  }
.stock_profile {  grid-area: stock_profile;  }

.stock_view {
    display: none;
}
.stock_view.active {
    display: grid;
}
.stock_view1 {
    width: 100%;
    grid-template-areas: 
    "stock_title stock_title stock_title stock_ratings stock_ratings"
    "stock_chart stock_chart stock_chart stock_ratings stock_ratings"
    "stock_chart stock_chart stock_chart stock_suggestions stock_suggestions"
    "stock_chart stock_chart stock_chart stock_suggestions stock_suggestions"
    "stock_charts stock_charts stock_charts stock_charts stock_charts"
    "stock_financials stock_financials stock_financials stock_financials stock_profile";
}
.stock_view_item {
    border-radius: 15px;
    background: var(--color-theme-contrast);
}


.stock_title {
    align-items: center;
    height: 100px;
}
.stock_logo {
    height: 80px;
    width: 85px;
    justify-content: center;
    align-items: center;
    background: white;
    overflow: hidden;
    margin: 20px;
}
.stock_img {
    transform: scale(0.55);
}

.stock_title_c {
    height: 100%;
    width: 100%;
    align-items: center;
    gap: 60px;
}
.stock_title_data:first-child {
    margin-right: 20px;
}
.stock_title_data {
    align-items: center;
}
.stock_name {
    color: var(--color-first);
}
.stock_title_text {
    font-size: 1.2em;
}
.stock_title_desc {
    font-size: 0.9em;
    color: var(--color-reverse-light);
}


.stock_chart {
    align-items: center;
    justify-content: center;
}
.tradingview-widget-container {
    margin: 20px 0 10px 0;
}


.stock_ratings_c {
    flex-direction: column;
    align-items: center;
}
.eye_ratings {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.stock_rating {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.stock_rating_header {
    color: var(--color-reverse-light);
    font-size: 0.9em;
}
.stock_rating_text {
    font-size: 1.1em;
}
.eye_rating {
    margin: 10px;
}
.stock_eye_text {
    font-size: 1.3em;
}
.stock_eye_header {
    color: var(--color-first);
}
.progress {
    width: 90%;
    height: 40px;
    align-items: center;
    flex-direction: column;
}
.progress_bar {
    height: 25px;
    width: 71%;
    background: var(--color-light);
    margin: 5px 0;
}
.progressed {
    background: var(--color-first);
    width: attr(eye);
    height: 100%;
}
.progress_nums {
    justify-content: space-between;
    width: 71%;
}
.progress_num {
    color: var(--color-reverse-light);
    font-size: 0.8em;
}


.stock_suggestions {
    flex-direction: column;
    min-width: 300px;
    gap: 5px;
    overflow: hidden;
}
.stock_suggest {
    height: 75px;
    cursor: pointer;
}
.stock_logo_s {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin: 7.5px;
    box-shadow: none;
    background-color: white;
}
.stock_img_s {
    transform: scale(0.35);
}
.stock_suggest_info {
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
}
.stock_name_s {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-left: 85px;
    line-height: 50px;
    cursor: pointer;
    white-space: nowrap;
    z-index: 5;
}
.stock_suggest_data {
    padding-left: 85px;
    line-height: 90px;
    margin: 10px 0;
    gap: 20px;
}
.stock_suggest:hover {
    background: var(--color-light);
}


.stock_charts {
    justify-content: space-between;
    width: 100%;
}
.stock_chart_item {
    width: 32.5%;
}
.stock_margins_chart, .stock_metrics_chart, .stock_dividend_chart {
    transform: scale(0.95);
}
.info {
    position: absolute;
    top: 10px;
    right: 10px;
}
.dividend_info_text {
    position: absolute;
    color: var(--color-text-theme);
    font-size: 1.3em;
    align-self: center;
    text-align: center;
    width: 100%;
}


.stock_financials {
    flex-direction: column;
}
.stock_financials_t {
    overflow-x: scroll;
    transform: scale(0.95);
}
.stock_financials_t tr .row_header {
    transition: color 0.2s;
}
.stock_financials_t tr:hover .row_header {
    color: var(--color-first);
}
.stock_financials_t tr th, .stock_financials_t tr td {
    width: 140px;
    text-align: center;
}
.stock_financials_t tr td {
    color: var(--color-reverse-light);
}
.stock_financials_t tr:nth-child(even) {
    background-color: var(--color-light);
}
.financial_chart {
    width: 100% !important;
    height: 50px !important;
    margin: 1.5px 2.5px 3.5px 2.5px;
}
.row_header {
    width: 220px !important;
}
.row_divider {
    border-bottom: 1px solid var(--color-first);
    height: 50px;
    vertical-align: bottom;
}


.stock_profile_container {
    margin: 20px;
}
.stock_profile_header {
    color: var(--color-text-theme);
    font-size: 1.05em;
    margin: 10px 0 3px 0;
}
.stock_profile_text {
    font-size: 0.9em;
    color: var(--color-reverse-light);
}

@media screen and (max-width: 1100px) {
    .stock_view.active {
        display: flex;
        flex-direction: column;
    }
    .stock_charts {
        flex-direction: column;
    }
    .stock_chart_item {
        width: 100%;
    }
}
