
<!DOCTYPE html>
<html lang="en">
<head>


    <!-- SELECT PAGENAME -->
    <title>Stocky - A Stock Analysis Tool</title>

    <!-- IMPLEMENTING CSS, STATIC FILES -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'Home/css/classes.css' %}">
    <link rel="stylesheet" href="{% static 'Home/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'Home/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'Home/fonts/material-icons.css' %}">

    <!-- IMPLEMENTATIONS OF FORMATS, ICONS -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="refresh" content="5000"> <!-- Refreshes your website -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script> -->
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <!-- Example: <i class="fa-regular fa-square"></i> -->


</head>


<body>


    <!-- BLOCK -->
    {% block content %} {% endblock %}



    <!-- COOKIES -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <!-- NAVBAR CLICK TRANSITION -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- TILT ANIMATION ON ELEMENTS -->
    <script src="{% static 'Home/js/vanilla-tilt.js' %}"></script>

    <!-- MAIN SCRIPT FILES -->
    <script src="{% static 'Home/js/script.js' %}"></script>


</body>