<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- SELECT PAGENAME -->
    <title>Aethega - A Stock Analysis Tool</title>

    <!-- IMPLEMENTING CSS, STATIC FILES -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/classes.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'home/css/index.css' %}"/>
    <link rel="stylesheet" href="{% static 'main/fonts/material-icons.css' %}"/>


    <!-- IMPLEMENTATIONS OF FORMATS, ICONS -->
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="refresh" content="5000"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Example: <i class="fa-regular fa-square"></i> -->

    <!-- CHART.JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css"/>
    <script src="{% static 'main/js/web/charts.js' %}"></script>

    <!-- <script src="{% static 'main/js/extensions/live.js' %}"></script> -->

  </head>
  <body>

    <!-- BLOCK -->
    {% block head %} {% endblock %}

    <!-- COOKIES -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

    <!-- NAVBAR CLICK TRANSITION -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <!-- TILT ANIMATION ON ELEMENTS -->
    <script src="{% static 'main/js/extensions/vanilla-tilt.js' %}"></script>

    <!-- MAIN SCRIPT FILES -->
    <script src="{% static 'main/js/web/event.js' %}"></script>
    <script src="{% static 'main/js/web/looper.js' %}"></script>
    <script src="{% static 'main/js/web/darkmode.js' %}"></script>

    <script src="{% static 'home/js/contact.js' %}"></script>
    <script src="{% static 'main/js/project/navbar.js' %}"></script>
    <script src="{% static 'main/js/project/sidebar.js' %}"></script>
    <script src="{% static 'main/js/project/components/button.js' %}"></script>

  </body>
</html>
