{% extends "home/index.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">


<div class="home_background">
            
</div>


<div class="home flex">
  <div class="home_container home_container1 flex">

    <div class="searchbar inputField">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input class="search_input input" type="text" placeholder="Search..">
    </div>

  </div>


  <div class="home_container home_container2">
      
  </div>

</div>



{% endblock content %}