{% extends "home/index.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">


<div class="home_background">
            
</div>

<div class="home flex">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li>{{message}}</li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="home_container home_container1 flex">

    <div class="home_box flex_box red-gradient"></div>
    <div class="home_box flex_box yellow-gradient"></div>
    <div class="home_box flex_box green-gradient"></div>
    <div class="home_box flex_box cyan-gradient"></div>
    <div class="home_box flex_box blue-gradient"></div>
    <div class="home_box flex_box purple-gradient"></div>

  </div>


  <div class="home_container home_container2">
      
  </div>

</div>



{% endblock content %}