
<!-- GENERAL -->
Home:
Payment: <i class="fa-solid fa-credit-card"></i>
Cart-Add: <i class="fa-solid fa-cart-plus"></i>



<!-- ACCOUNT -->
User: <i class="fa-solid fa-user"></i>
User-Edit: <i class="fa-solid fa-user-pen"></i>
User-Group: <i class="fa-solid fa-user-group"></i>
Dashboard: <i class="fa-solid fa-chart-tree-map"></i>
Sliders: <i class="fa-solid fa-sliders"></i>
Settings: <i class="fa-solid fa-gear"></i>
Logout: <i class="fa-solid fa-arrow-right-from-bracket"></i>
Check: <i class="fa-solid fa-check"></i>



<!-- EYE -->
Portfolio: <i class="fa-solid fa-chart-simple"></i>
Chart: <i class="fa-solid fa-chart-line"></i>
Chart2: <i class="fa-solid fa-chart-mixed"></i>
Pie-Chart: <i class="fa-solid fa-chart-pie"></i>
News: <i class="fa-solid fa-newspaper"></i>



<!-- NAVIGATION-->
Link: <i class="fa-solid fa-arrow-up-right-from-square"></i>
More: <i class="fa-solid fa-ellipsis-vertical"></i>
Back: <i class="fa-solid fa-arrow-left-long-to-line"></i>
Scroll: <i class="fa-solid fa-angle-down"></i>



<!-- ACTIONS -->
Check: <i class="fa-solid fa-check"></i>
Add: <i class="fa-solid fa-plus"></i>
Edit: <i class="fa-solid fa-pen"></i>
Trash: <i class="fa-solid fa-trash-can"></i>
Download: <i class="fa-solid fa-down-to-line"></i>



<!-- COMPANIES -->
Apple: <i class="fa-brands fa-apple"></i>
Twitter: <i class="fa-brands fa-twitter"></i>
Google: <i class="fa-brands fa-google"></i>
Instagram: <i class="fa-brands fa-instagram"></i>
YouTube: <i class="fa-brands fa-youtube"></i>
Facebook: <i class="fa-brands fa-facebook-f"></i>

