{% extends "home/index.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'home/css/pricing.css' %}">


<div class="pricing flex">
    <h1 class="pricing_header">Pricing</h1>
    <div class="pricing_container flex">
        
        <div class="pricing_panel smart_box">
            <div class="pricing_title">
                <h2 class="pricing_class pricing_p">Basic</h2>
                <p class="pricing_description pricing_p">Personal Testing</p>
            </div>
            <div class="pricing_details">
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">Stock Overview</span>
                </div>                
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">Stock Screener</span>
                </div>
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">Economic Indicators</span>
                </div> 
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">Calendar</span>
                </div>  
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">No Credit Card Required</span>
                </div>  
            </div>
            <div class="pricing_pricing">
                <p class="pricing_price pricing_p">$0</p>
                <p class="pricing_period pricing_p">per month</p>
            </div>
            <div class="smart_button_outline pricing_button">Select</div>
        </div>

        <div class="pricing_panel smart_box">
            <div class="pricing_title">
                <h2 class="pricing_class pricing_p">Pro</h2>
                <p class="pricing_description pricing_p">Advanced Investing</p>
            </div>
            <div class="pricing_details">
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">Basic Plan</span>
                </div>                
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">Portfolio Builder</span>
                </div>
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">Export Data</span>
                </div>  
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">Stock Ratings</span>
                </div>  
            </div>
            <div class="pricing_pricing">
                <p class="pricing_price pricing_p">$19</p>
                <p class="pricing_period pricing_p">per month</p>
            </div>
            <div class="smart_button_outline pricing_button">Select</div>
        </div>

        <div class="pricing_panel smart_box">
            <div class="pricing_title">
                <h2 class="pricing_class pricing_p">Enterprise</h2>
                <p class="pricing_description pricing_p">Commercial Use</p>
            </div>
            <div class="pricing_details">
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">Pro Plan</span>
                </div>                
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">Personal Spreadsheets</span>
                </div>  
                <div class="pricing_points flex">
                    <i class="material-icons pricing_icon">done</i>
                    <span class="pricing_text pricing_p">For Commercial Use</span>
                </div>  
            </div>
            <div class="pricing_pricing">
                <p class="pricing_price pricing_p">$69</p>
                <p class="pricing_period pricing_p">per month</p>
            </div>
            <div class="smart_button_outline pricing_button">Select</div>
        </div>
    </div>
</div>

{% endblock content %}