{% extends "home/index.html" %}

{% block content %}
{% load static %}
{% load humanize %}

<link rel="stylesheet" href="{% static 'eye/css/symbol.css' %}">


<div class="stocks flex">

  <div class="sidebar flex">
    <div class="side_link flex active">
      <i class="fa-solid fa-house side_icon"></i>
      <p class="side_text">Dashboard</p>
    </div>
    <div class="side_link flex">
      <i class="fa-solid fa-chart-line side_icon"></i>
      <p class="side_text">Chart</p>
    </div>
    <div class="side_link flex">
      <i class="fa-solid fa-coins side_icon"></i>
      <p class="side_text">Earnings</p>
    </div>
    <div class="side_link flex">
      <i class="fa-solid fa-chart-simple side_icon"></i>
      <p class="side_text">Financials</p>
    </div>
    <div class="side_link flex">
      <i class="fa-solid fa-scale-balanced side_icon"></i>
      <p class="side_text">Holdings</p>
    </div>
    <div class="side_link flex">
      <i class="fa-solid fa-newspaper side_icon"></i>
      <p class="side_text">Articles</p>
    </div>
  </div>

  <div class="stock_window">
    <div class="stock_view stock_view1 active grid_system">
      <div class="stock_title stock_view_item flex">
        <div class="stock_logo smart_box">
          <img class="stock_img" src={{logo}}>
        </div>
        <div class="stock_title_c flex">
          <div class="stock_title_data">
            <p class="stock_title_text">{{name}}</p>
            <p class="stock_title_desc">Company</p>
          </div>
          <div class="stock_title_data">
            <p class="stock_title_text">$149.34</p>
            <p class="stock_title_desc">Price</p>
          </div>
          <div class="stock_title_data">
            <p class="stock_title_text">+0.98%</p>
            <p class="stock_title_desc">Percent</p>
          </div>
          <div class="stock_title_data">
            <p class="stock_title_text">{{eps2021}}</p>
            <p class="stock_title_desc">EPS</p>
          </div>
          <div class="stock_title_data">
            <p class="stock_title_text">{{peRatio2021}}</p>
            <p class="stock_title_desc">P/E Ratio</p>
          </div>
        </div>
      </div>
  
      <div class="stock_chart stock_view_item flex">
        <div class="tradingview-widget-container">
          <div id="tradingview_96d90"></div>
          <div class="tradingview-widget-copyright">
            <a href="https://de.tradingview.com/symbols/{{ticker}}/" rel="noopener" target="_blank">
              <span class="blue-text">{{ticker}} Chart</span></a> from TradingView</div>
          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
          <script type="text/javascript">
          new TradingView.widget({
          "width": 900, "height": 500,
          "symbol": "{{ticker}}",
          "interval": "D",
          "timezone": "Etc/UTC",
          "theme": "{{mode}}",
          "style": "1",
          "locale": "de_DE",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "allow_symbol_change": true,
          "container_id": "tradingview_96d90"});
          </script>
        </div>
      </div>

      <div class="stock_ratings stock_view_item">
        <p class="stock_header">Ratings</p>
        <div class="stock_ratings_c">
          <div class="stock_rating">
            <p class="stock_rating_text">TA-R</p>
            <p class="stock_rating_text">0.99</p>
          </div>
        </div>
      </div>

      <div class="stock_suggestions stock_view_item flex">
        <p class="stock_header stock_suggest_header">Industry Competitors</p>
        {% for c in competitors %}
        <div class="stock_suggest flex">
          <div class="stock_logo_s smart_box">
            <img class="stock_img_s" src={{c.logo}}>
          </div>
          <div class="stock_suggest_info flex">
            <a href="{% url 'symbol' c.ticker %}" class="stock_name_s">{{c.name}}</a>
            <div class="stock_suggest_data flex">
              <div class="stock_price_s">1500.00$</div>
              <div class="stock_percent_s">+1.59%</div>
            </div>
          </div>
        </div>
        {% empty %}
        <p>No Competitors available.</p>
        {% endfor %}
      </div>

      <div class="stock_charts flex">
        <div class="stock_margins stock_chart_item stock_view_item">
          <p class="stock_header">Margins</p>
          <div class="info flex">
            <i class="fa-solid fa-question info_icon"></i>
            <div class="flex">Margins give an Overview of how efficient a company runs it's operations</div>
            <div></div>
          </div>
          <canvas class="stock_margins_chart"></canvas>
        </div>

        <div class="stock_metrics stock_chart_item stock_view_item">
          <p class="stock_header">Key Metrics</p>
          <div class="info flex">
            <i class="fa-solid fa-question info_icon"></i>
            <div class="flex">Margins give an Overview of how efficient a company runs it's operations</div>
            <div></div>
          </div>
          <canvas class="stock_metrics_chart"></canvas>
        </div>

        {% if dividendYieldChecker == 0 %}
        <div class="stock_dividend stock_chart_item stock_view_item dividend_info flex">
          <p class="stock_header">Dividend</p>
          <div class="dividend_info_text">Symbol never paid a Dividend</div>
        </div>
        {% else %}
        <div class="stock_dividend stock_chart_item stock_view_item">
          <p class="stock_header">Dividend</p>
          <div class="info flex">
            <i class="fa-solid fa-question info_icon"></i>
            <div class="flex">Margins give an Overview of how efficient a company runs it's operations</div>
            <div></div>
          </div>
          <canvas class="stock_dividend_chart"></canvas>
        </div>
        {% endif %}
      </div>

      <div class="stock_financials stock_view_item flex">
        <p class="stock_header">Financials</p>
        <table class="stock_financials_t">
          <tr>
            <th class="stock_subheader">Numbers in USD Millions</th>
            <th>Graph</th>
            <th>2017</th>
            <th>2018</th>
            <th>2019</th>
            <th>2020</th>
            <th>2021</th>
          </tr>
          <tr>
            <th class="row_header">Revenue</th>
            <td><canvas class="financial_chart chart_revenue"></canvas></td>
            <td>${{revenue2017_M|intcomma}} Mio.</td>
            <td>${{revenue2018_M|intcomma}} Mio.</td>
            <td>${{revenue2019_M|intcomma}} Mio.</td>
            <td>${{revenue2020_M|intcomma}} Mio.</td>
            <td>${{revenue2021_M|intcomma}} Mio.</td>
          </tr>
          <tr>
            <th class="row_header">Gross Profit</th>
            <td><canvas class="financial_chart chart_grossProfit"></canvas></td>
            <td>${{grossProfit2017_M|intcomma}} Mio.</td>
            <td>${{grossProfit2018_M|intcomma}} Mio.</td>
            <td>${{grossProfit2019_M|intcomma}} Mio.</td>
            <td>${{grossProfit2020_M|intcomma}} Mio.</td>
            <td>${{grossProfit2021_M|intcomma}} Mio.</td>
          </tr>
          <tr>
            <th class="row_header">Gross Margin</th>
            <td><canvas class="financial_chart chart_grossMargin"></canvas></td>
            <td>{{grossProfitMargin2017_M|stringformat:"d%%"}}</td>
            <td>{{grossProfitMargin2018_M|stringformat:"d%%"}}</td>
            <td>{{grossProfitMargin2019_M|stringformat:"d%%"}}</td>
            <td>{{grossProfitMargin2020_M|stringformat:"d%%"}}</td>
            <td>{{grossProfitMargin2021_M|stringformat:"d%%"}}</td>
          </tr>
          <tr>
            <th class="row_divider" colspan="7">Costs</th>
          </tr>
          <tr>
            <th class="row_header">Research & Development</th>
            <td><canvas class="financial_chart chart_operatingMargin"></canvas></td>
            <td>${{researchAndDevelopmentExpenses2017_M|intcomma}} Mio.</td>
            <td>${{researchAndDevelopmentExpenses2018_M|intcomma}} Mio.</td>
            <td>${{researchAndDevelopmentExpenses2019_M|intcomma}} Mio.</td>
            <td>${{researchAndDevelopmentExpenses2020_M|intcomma}} Mio.</td>
            <td>${{researchAndDevelopmentExpenses2021_M|intcomma}} Mio.</td>
          </tr>
          <tr>
            <th class="row_header">General & Administrative</th>
            <td><canvas class="financial_chart chart_operatingMargin"></canvas></td>
            <td>${{generalAndAdministrativeExpenses2017_M|intcomma}} Mio.</td>
            <td>${{generalAndAdministrativeExpenses2018_M|intcomma}} Mio.</td>
            <td>${{generalAndAdministrativeExpenses2019_M|intcomma}} Mio.</td>
            <td>${{generalAndAdministrativeExpenses2020_M|intcomma}} Mio.</td>
            <td>${{generalAndAdministrativeExpenses2021_M|intcomma}} Mio.</td>
          </tr>
          <tr>
            <th class="row_header">Operating Expenses</th>
            <td><canvas class="financial_chart chart_operatingMargin"></canvas></td>
            <td>${{operatingExpenses2017_M|intcomma}} Mio.</td>
            <td>${{operatingExpenses2018_M|intcomma}} Mio.</td>
            <td>${{operatingExpenses2019_M|intcomma}} Mio.</td>
            <td>${{operatingExpenses2020_M|intcomma}} Mio.</td>
            <td>${{operatingExpenses2021_M|intcomma}} Mio.</td>
          </tr>
          <tr>
            <th class="row_header">Operating Margin</th>
            <td><canvas class="financial_chart chart_operatingMargin"></canvas></td>
            <td>{{operatingProfitMargin2017_M|stringformat:"d%%"}}</td>
            <td>{{operatingProfitMargin2018_M|stringformat:"d%%"}}</td>
            <td>{{operatingProfitMargin2019_M|stringformat:"d%%"}}</td>
            <td>{{operatingProfitMargin2020_M|stringformat:"d%%"}}</td>
            <td>{{operatingProfitMargin2021_M|stringformat:"d%%"}}</td>
          </tr>
          <tr>
            <th class="row_divider" colspan="7">Taxes & Depreciation</th>
          </tr>
          <tr>
            <th class="row_header">EBITDA</th>
            <td><canvas class="financial_chart chart_netIncome"></canvas></td>
            <td>${{ebitda2017_M|intcomma}} Mio.</td>
            <td>${{ebitda2018_M|intcomma}} Mio.</td>
            <td>${{ebitda2019_M|intcomma}} Mio.</td>
            <td>${{ebitda2020_M|intcomma}} Mio.</td>
            <td>${{ebitda2021_M|intcomma}} Mio.</td>
          </tr>
          <tr>
            <th class="row_header">Income Before Tax</th>
            <td><canvas class="financial_chart chart_netIncome"></canvas></td>
            <td>${{incomeBeforeTax2017_M|intcomma}} Mio.</td>
            <td>${{incomeBeforeTax2018_M|intcomma}} Mio.</td>
            <td>${{incomeBeforeTax2019_M|intcomma}} Mio.</td>
            <td>${{incomeBeforeTax2020_M|intcomma}} Mio.</td>
            <td>${{incomeBeforeTax2021_M|intcomma}} Mio.</td>
          </tr>
          <tr>
            <th class="row_divider" colspan="7">Bottom Line</th>
          </tr>
          <tr>
            <th class="row_header">Net Income</th>
            <td><canvas class="financial_chart chart_netIncome"></canvas></td>
            <td>${{netIncome2017_M|intcomma}} Mio.</td>
            <td>${{netIncome2018_M|intcomma}} Mio.</td>
            <td>${{netIncome2019_M|intcomma}} Mio.</td>
            <td>${{netIncome2020_M|intcomma}} Mio.</td>
            <td>${{netIncome2021_M|intcomma}} Mio.</td>
          </tr>
          <tr>
            <th class="row_header">Profit Margin</th>
            <td><canvas class="financial_chart chart_profitMargin"></canvas></td>
            <td>{{netProfitMargin2017_M|stringformat:"d%%"}}</td>
            <td>{{netProfitMargin2018_M|stringformat:"d%%"}}</td>
            <td>{{netProfitMargin2019_M|stringformat:"d%%"}}</td>
            <td>{{netProfitMargin2020_M|stringformat:"d%%"}}</td>
            <td>{{netProfitMargin2021_M|stringformat:"d%%"}}</td>
          </tr>
          <tr>
            <th class="row_header">Earnings Per Share (EPS)</th>
            <td><canvas class="financial_chart chart_profitMargin"></canvas></td>
            <td>{{eps2017}}</td>
            <td>{{eps2018}}</td>
            <td>{{eps2019}}</td>
            <td>{{eps2020}}</td>
            <td>{{eps2021}}</td>
          </tr>
        </table>
      </div>

      <div class="stock_description stock_view_item">

      </div>
    </div>




    <div class="stock_view stock_view2 grid_system">
      <div class="stock_chart stock_view_item flex">
        <div class="tradingview-widget-container">
          <div id="tradingview_79edc"></div>
          <div class="tradingview-widget-copyright"><a href="https://de.tradingview.com/symbols/NASDAQ-AAPL/" rel="noopener" target="_blank"><span class="blue-text">AAPL Chart</span></a> von TradingView</div>
          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
          <script type="text/javascript">
          new TradingView.widget({
          "width": 1650, "height": 800, 
          "symbol": "{{ticker}}",
          "interval": "D",
          "timezone": "Etc/UTC",
          "theme": "dark",
          "style": "1",
          "locale": "de_DE",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "allow_symbol_change": true,
          "container_id": "tradingview_79edc"
        }
          );
          </script>
        </div>
      </div>
    </div>




    <div class="stock_view stock_view3 grid_system">
      <p>Stock view 3</p>
    </div>
      
  </div>
</div>


<script>
  const yearLabels = JSON.parse("{{yearLabels|safe}}");
  const grossMargin = JSON.parse("{{grossProfitMargin|safe}}");
  const operatingMargin = JSON.parse("{{operatingProfitMargin|safe}}");
  const profitMargin = JSON.parse("{{netProfitMargin|safe}}");
  const peRatio = JSON.parse("{{peRatio|safe}}");
  const pbRatio = JSON.parse("{{pbRatio|safe}}");
  const pfcfRatio = JSON.parse("{{pfcfRatio|safe}}");
  const eps = JSON.parse("{{eps|safe}}");
  const dividendYield = JSON.parse("{{dividendYield|safe}}");
  const payoutRatio = JSON.parse("{{payoutRatio|safe}}");

  const revenue = JSON.parse("{{revenue|safe}}");
  const grossProfit = JSON.parse("{{grossProfit|safe}}");
  const netIncome = JSON.parse("{{netIncome|safe}}");


  function chartConfig(args="normal", right=false, rightColor='grey', sole=false) {
    if (sole == true) {
      var config = {
        plugins: { legend: {
            display: false
        }},
        scales: {
          x: {
            grid: { display: false },
            align: "end",
            display: false,
          },
          left: {
            grid: { display: false },
            ticks: {
              beginAtZero: true,
              callback: function(value, index, values) {
                if (args == "pct") return Math.round(value * 100) + '%';
                else return value
              },
            font: 14,
            },
            type: 'linear',
            position: 'left',
            display: false,
          }
      } }
      return config
    } 
      

    if (right == true) {
      var config = {
        plugins: { legend: { labels: {
          fontColor: "rgb(255, 255, 255)",
          font: { size: 14, } 
          } } 
        },
        plugins: [{
          afterDraw: chart => {
              if (chart.tooltip?._active?.length) {
                  let x = chart.tooltip._active[0].element.x;
                  let yAxis = chart.scales.y;
                  let ctx = chart.ctx;
                  ctx.save();
                  ctx.beginPath();
                  ctx.moveTo(x, yAxis.top);
                  ctx.lineTo(x, yAxis.bottom);
                  ctx.lineWidth = 1;
                  ctx.strokeStyle = '#ff0000';
                  ctx.stroke();
                  ctx.restore();
              }
          }
        }],
        options: {
          interaction: {
              intersect: false,
              mode: 'index',
          }
        },
        scales: {
          x: {
            grid: { display: false },
            align: "end",
          },
          left: {
            grid: { display: false },
            ticks: {
              beginAtZero: true,
              callback: function(value, index, values) {
                if (args == "pct") return Math.round(value * 100) + '%';
                else return value
              },
            font: 14,
            },
            type: 'linear',
            position: 'left',
          },
          right: {
            grid: { display: false },
            ticks: {
              beginAtZero: true,
              callback: function(value, index, values) {
                if (args == "pct") return Math.round(value * 100) + '%';
                else return value
              },
            font: 14,
            color: rightColor,
            },
            type: 'linear',
            position: 'right',
          }
      } } }

    else {
      var config = {
        plugins: { legend: { labels: {
          fontColor: "rgb(255, 255, 255)",
          font: { size: 14, } 
          } } 
        },
        scales: {
          x: {
            grid: { display: false },
            align: "end",
          },
          left: {
            grid: { display: false },
            ticks: {
              beginAtZero: true,
              callback: function(value, index, values) {
                if (args == "pct") return Math.round(value * 100) + '%';
                else return value
              },
            font: 14,
            },
            type: 'linear',
            position: 'left',
          }
      } } }
    return config
  }


  const stock_margins_chart = document.querySelector('.stock_margins_chart').getContext('2d');
  const chart1 = new Chart(stock_margins_chart, {
    type: 'bar',
    data: {
      labels: yearLabels,
      datasets: [
      {
        label: "Gross Margin",
        data: grossMargin,
        backgroundColor: "rgb(0, 110, 255)",
      },
      {
        label: "Operating Margin",
        data: operatingMargin,
        backgroundColor: "rgb(20, 150, 255)",
      },
      {
        label: "Profit Margin",
        data: profitMargin,
        backgroundColor: "rgb(20, 200, 240)",
      },
      ],
    },
    options: chartConfig("pct"),
  });

  const stock_metrics_chart = document.querySelector('.stock_metrics_chart').getContext('2d');
  const chart2 = new Chart(stock_metrics_chart, {
    type: 'line',
    data: {
      labels: yearLabels,
      datasets: [
      {
        label: "EPS",
        data: eps,
        backgroundColor: "rgb(110, 255, 255)",
        borderColor: "rgb(110, 255, 255, 0.3)",
      },
      {
        label: "P/B Ratio",
        data: pbRatio,
        backgroundColor: "rgb(110, 255, 0)",
        borderColor: "rgb(110, 255, 0, 0.3)",
      },
      {
        label: "P/E Ratio",
        data: peRatio,
        backgroundColor: "rgb(138, 48, 255)",
        borderColor: "rgb(138, 48, 255, 0.3)",
        yAxisID: "right",
      },
      ],
    },
    options: chartConfig("normal", true, "rgb(138, 48, 255)"),
  });

  const dividend_chart = document.querySelector('.stock_dividend_chart').getContext('2d');
  const chart3 = new Chart(dividend_chart, {
    type: 'line',
    data: {
      labels: yearLabels,
      datasets: [{
        label: "Dividend in %",
        data: dividendYield,
        backgroundColor: "rgb(255, 179, 0)",
        borderColor: "rgb(255, 179, 0, 0.3)",
        yAxisID: "right",
      }, {
        label: "Payout Ratio",
        data: payoutRatio,
        backgroundColor: "rgb(144, 0, 255)",
        borderColor: "rgb(144, 0, 255, 0.4)",
      }, {
        label: "Profit Margin",
        data: profitMargin,
        backgroundColor: "rgb(0, 237, 213)",
        borderColor: "rgb(0, 237, 213, 0.3)",
      }]
    },
    options: chartConfig("pct", true, "rgb(255, 179, 0)"),
  });

  const chart_revenue = document.querySelector('.chart_revenue').getContext('2d');
  const chart_grossProfit = document.querySelector('.chart_grossProfit').getContext('2d');
  const chart_grossMargin = document.querySelector('.chart_grossMargin').getContext('2d');
  const chart_operatingMargin = document.querySelector('.chart_operatingMargin').getContext('2d');
  const chart_netIncome = document.querySelector('.chart_netIncome').getContext('2d');
  const chart_profitMargin = document.querySelector('.chart_profitMargin').getContext('2d');


  var chart_revenue1 = new Chart(chart_revenue, {
    type: 'bar',
    data: {
      labels: yearLabels,
      datasets: [{
        data: revenue,
        backgroundColor: "rgb(20, 150, 255)",
      },],},
    options: chartConfig("normal", false, "0", true),
  });
  var chart_grossProfit1 = new Chart(chart_grossProfit, {
    type: 'bar',
    data: {
      labels: yearLabels,
      datasets: [{
        data: grossProfit,
        backgroundColor: "rgb(20, 150, 255)",
      },],},
    options: chartConfig("normal", false, "0", true),
  });
  var chart_grossMargin1 = new Chart(chart_grossMargin, {
    type: 'bar',
    data: {
      labels: yearLabels,
      datasets: [{
        data: grossMargin,
        backgroundColor: "rgb(20, 150, 255)",
      },],},
    options: chartConfig("normal", false, "0", true),
  });
  var chart_operatingMargin1 = new Chart(chart_operatingMargin, {
    type: 'bar',
    data: {
      labels: yearLabels,
      datasets: [{
        data: operatingMargin,
        backgroundColor: "rgb(20, 150, 255)",
      },],},
    options: chartConfig("normal", false, "0", true),
  });
  var chart_netIncome1 = new Chart(chart_netIncome, {
    type: 'bar',
    data: {
      labels: yearLabels,
      datasets: [{
        data: netIncome,
        backgroundColor: "rgb(20, 150, 255)",
      },],},
    options: chartConfig("normal", false, "0", true),
  });
  var chart_profitMargin1 = new Chart(chart_profitMargin, {
    type: 'bar',
    data: {
      labels: yearLabels,
      datasets: [{
        data: profitMargin,
        backgroundColor: "rgb(20, 150, 255)",
      },],},
    options: chartConfig("normal", false, "0", true),
  });



</script>





{% endblock %}