{% extends "home/index.html" %}


{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'eye/css/symbol.css' %}">



<div class="stocks flex">

  <div class="sidebar flex">
    <div class="side_link flex active">
      <i class="fa-solid fa-house side_icon"></i>
      <p class="side_text">Dashboard</p>
    </div>
    <div class="side_link flex">
      <i class="fa-solid fa-chart-line side_icon"></i>
      <p class="side_text">Chart</p>
    </div>
    <div class="side_link flex">
      <i class="fa-solid fa-coins side_icon"></i>
      <p class="side_text">Earnings</p>
    </div>
    <div class="side_link flex">
      <i class="fa-solid fa-chart-simple side_icon"></i>
      <p class="side_text">Financials</p>
    </div>
    <div class="side_link flex">
      <i class="fa-solid fa-scale-balanced side_icon"></i>
      <p class="side_text">Holdings</p>
    </div>
    <div class="side_link flex">
      <i class="fa-solid fa-newspaper side_icon"></i>
      <p class="side_text">Articles</p>
    </div>
  </div>

  <div class="stock_window">
    <div class="stock_view stock_view1 active grid-system">
      <div class="stock_title stock_view-item flex">
        <div class="stock_logo smart_box">
          <img class="stock_img" src={{logo}}>
        </div>
        <h1 class="stock_name">{{name}}</h1>
        <div class="stock_price"></div>
        <div class="stock_percent"></div>
      </div>
  

      <div class="stock_chart stock_view-item flex">
        <div class="tradingview-widget-container">
          <div id="tradingview_96d90"></div>
          <div class="tradingview-widget-copyright">
              <a href="https://de.tradingview.com/symbols/{{ticker}}/" rel="noopener" target="_blank">
                  <span class="blue-text">{{ticker}} Chart</span></a> from TradingView</div>
          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
          <script type="text/javascript">
          new TradingView.widget({
          "width": 900, "height": 500,
          "symbol": "{{ticker}}",
          "interval": "D",
          "timezone": "Etc/UTC",
          "theme": "{{mode}}",
          "style": "1",
          "locale": "de_DE",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "allow_symbol_change": true,
          "container_id": "tradingview_96d90"});
          </script>
        </div>
      </div>


      <div class="stock_ratings stock_view-item">
        <p class="stock_header">Ratings</p>
      </div>


      <div class="stock_suggestions stock_view-item">
        <p class="stock_header stock_suggest-header">Industry Competitors</p>
        <div class="stock_suggest flex">
          <div class="stock_logo stock_logo-s smart_box">
            <img class="stock_img-s" src={{logo}}>
          </div>
          <div class="stock_suggest-info flex">
            <div class="stock_name-s">Microsoft Inc.</div>
            <div class="stock_suggest-data flex">
              <div class="stock_price-s">1500.00$</div>
              <div class="stock_percent-s">+1.59%</div>
            </div>
          </div>
        </div>

        <div class="stock_suggest flex">
          <div class="stock_logo stock_logo-s smart_box">
            <img class="stock_img-s" src={{logo}}>
          </div>
          <div class="stock_suggest-info flex">
            <div class="stock_name-s">Microsoft Inc.</div>
            <div class="stock_suggest-data flex">
              <div class="stock_price-s">1500.00$</div>
              <div class="stock_percent-s">+1.59%</div>
            </div>
          </div>
        </div>

        <div class="stock_suggest flex">
          <div class="stock_logo stock_logo-s smart_box">
            <img class="stock_img-s" src={{logo}}>
          </div>
          <div class="stock_suggest-info flex">
            <div class="stock_name-s">Microsoft Inc.</div>
            <div class="stock_suggest-data flex">
              <div class="stock_price-s">1500.00$</div>
              <div class="stock_percent-s">+1.59%</div>
            </div>
          </div>
        </div>
      </div>


      <div class="stock_metrics stock_view-item">
        <p class="stock_header">Key Metrics</p>
      </div>


      <div class="stock_margins stock_view-item">
        <p class="stock_header">Margins</p>
      </div>


      <div class="stock_financials stock_view-item">
        <p class="stock_header">Financials</p>
      </div>
    </div>


    <div class="stock_view stock_view2 grid-system">
      <div class="stock_chart stock_view-item flex">
        <div class="tradingview-widget-container">
          <div id="tradingview_96d90"></div>
          <div class="tradingview-widget-copyright">
              <a href="https://de.tradingview.com/symbols/{{ticker}}/" rel="noopener" target="_blank">
                  <span class="blue-text">{{ticker}} Chart</span></a> from TradingView</div>
          <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
          <script type="text/javascript">
          new TradingView.widget({
          "width": 900, "height": 500,
          "symbol": "{{ticker}}",
          "interval": "D",
          "timezone": "Etc/UTC",
          "theme": "{{mode}}",
          "style": "1",
          "locale": "de_DE",
          "toolbar_bg": "#f1f3f6",
          "enable_publishing": false,
          "allow_symbol_change": true,
          "container_id": "tradingview_96d90"});
          </script>
        </div>
      </div>



      <div class="stock_view stock_view3 grid-system">
        <p>Stock view 3</p>
      </div>
    </div>
  </div>
</div>



{% endblock %}