{% extends 'home/base.html' %}
{% block head %}

{% load static %}

<link rel="stylesheet" href="{% static 'account/css/login.css' %}">

{% if user.is_authenticated %}
<div class="message_field flex">
  <p class="message_text">You are logged in already.</p>
  <button class="icon_button portfolio_login transition">
    <i class="fa-solid fa-arrow-right-to-bracket portfolio_icon"></i>
    <a href="{% url 'home' %}">Back</a>
  </button> 
</div>
{% else %}
<div class="login">
  <form method="POST" class="login_form flex">
    {% csrf_token %}
    <h1 class="login_header">Login</h1>
    <div class="inputField">
      <i class="fa-solid fa-user"></i>
      <input type="text" name="username" class="input input_valid username_input" placeholder="Username" required>
      <i class="fa-solid fa-check"></i>
    </div>
    <div class="inputField">
      <i class="fa-solid fa-key"></i>
      <input type="password" name="password" class="input password_input" placeholder="Password" required>
    </div>
    <button type="submit" class="icon_button login_button">
      <i class="fa-solid fa-arrow-right-to-bracket portfolio_icon"></i>
      <a>Login</a>
    </button>
    <p class="login_redirect">Don't have an account? <a class="login_link" href="{% url 'signup' %}">Sign Up</a></p>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </form>
</div>
{% endif %}


{% endblock %}