{% extends 'home/index.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'account/css/account.css' %}">

<div class="layout">

  <div class="account_window window">
    <div class="account_view view active">
      <div class="background_blur"></div>
      <div class="account_profile account_view_item view_item flex">
        <p class="view_header view_header_a">Profile</p>
        <div class="account_logo flex">
          <img src="{{request.user.profile_image.url}}">
          <button class="account_image_edit" name="edit_profile_image">Edit</button>
        </div>
          <div class="account_field">
          <p class="account_sheader">Username</p>
          <div class="account_c flex">
            <div class="inputField">
              <input class="input account_input" placeholder="{{request.user.username}}" disabled>
            </div>
            <button class="normal_button account_name_edit">Edit</button>
          </div>
        </div>
        <div class="account_field">
          <p class="account_sheader">E-Mail</p>
          <div class="account_c flex">
            <div class="inputField">
              <input type="email" class="input account_input" placeholder="{{request.user.email}}" disabled>
            </div>
            <button class="normal_button account_email_edit">Edit</button>
          </div>
        </div>
        <div class="account_field">
          <p class="account_sheader">Biography</p>
          <form action="" method="POST">
            <div class="account_c flex">
                {% csrf_token %}
                <div class="inputField">
                  <textarea class="input account_input account_biography_change" name="biography"
                  disabled required>{{request.user.biography}}</textarea>
                </div>
                <div class="normal_button account_biography_edit">Edit</div>
            </div>
            <div class="account_biography_buttons flex">
              <button class="normal_button account_biography_save" type="submit" name="edit_biography">Save Changes</button>
              <button class="symbol_button account_biography_discard">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="account_user_change view_item account_name_change flex">
        <p class="view_header">Change Username</p>
        <div class="hamburger account_name_hide account_user_hide">
          <div class="hamburger_line hamburger_line_active1"></div>
          <div class="hamburger_line hamburger_line_active2"></div>
          <div class="hamburger_line hamburger_line_active3"></div>
        </div>
        <form action="" method="POST" class="account_user_form flex">
          {% csrf_token %}
          <div class="account_field">
            <p class="account_sheader">Username</p>
            <div class="account_c flex">
              <div class="inputField">
                <input class="input account_input" name="username" 
                placeholder="New Username">
              </div>
            </div>
          </div>
          <div class="account_field">
            <p class="account_sheader">Password</p>
            <div class="account_c flex">
              <div class="inputField">
                <input class="input account_input" type="password" name="password" 
                placeholder="Password">
              </div>
            </div>
          </div>
          <button class="icon_button" name="edit_username" type="submit">
            <i class="fa-solid fa-arrow-right-to-bracket portfolio_icon"></i>
            <a>Change</a>
          </button>
        </form>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="account_user_change view_item account_email_change flex">
        <p class="view_header">Change E-Mail</p>
        <div class="hamburger account_email_hide account_user_hide">
          <div class="hamburger_line hamburger_line_active1"></div>
          <div class="hamburger_line hamburger_line_active2"></div>
          <div class="hamburger_line hamburger_line_active3"></div>
        </div>
        <form action="" method="POST" class="flex account_user_form">
          {% csrf_token %}
          <div class="account_field">
            <p class="account_sheader">E-Mail</p>
            <div class="account_c flex">
              <div class="inputField">
                <input type="email" class="input account_input" name="email" placeholder="New E-Mail">
              </div>
            </div>
          </div>
          <div class="account_field">
            <p class="account_sheader">Password</p>
            <div class="account_c flex">
              <div class="inputField">
                <input class="input account_input" type="password" name="password" placeholder="Password">
              </div>
            </div>
          </div>
          <button class="icon_button" name="edit_email" type="submit">
            <i class="fa-solid fa-arrow-right-to-bracket portfolio_icon"></i>
            <a>Change</a>
          </button>
        </form>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      <div class="account_user_change view_item account_image_change flex">
        <p class="view_header">Change Profile Image</p>
        <div class="hamburger account_image_hide account_user_hide">
          <div class="hamburger_line hamburger_line_active1"></div>
          <div class="hamburger_line hamburger_line_active2"></div>
          <div class="hamburger_line hamburger_line_active3"></div>
        </div>
        <form action="" method="POST" class="flex account_user_form" enctype="multipart/form-data"> 
          {% csrf_token %}
          <div class="account_field">
            <p class="account_sheader">Profile Image</p>
            <div class="account_c flex">
              <div class="inputField">
                <input type="file" class="input account_input" name="profile_image">
              </div>
            </div>
          </div>
          <div class="account_field">
            <p class="account_sheader">Password</p>
            <div class="account_c flex">
              <div class="inputField">
                <input class="input account_input" type="password" name="password" placeholder="Password">
              </div>
            </div>
          </div>
          <button class="icon_button" name="edit_profile_image" type="submit">
            <i class="fa-solid fa-arrow-right-to-bracket portfolio_icon"></i>
            <a>Change</a>
          </button>
        </form>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>


      <div class="account_security account_view_item view_item flex">
        <p class="view_header view_header_a">Security</p>
        <div class="account_field password_field">
          <p class="account_sheader">Password</p>
          <div class="account_c flex">
            <div class="inputField">
              <input class="input account_input" name="password" 
              placeholder="************" disabled>
            </div>
            <form>
              <button class="normal_button" name="change_password" type="submit">Change Password</button>
            </form>
          </div>
        </div>
        <div class="account_divider"></div>
        <div class="factor2_auth">
          <p class="view_header factor2_title">2-Factor-Authentication</p>
          <table>
            <tr>
              <td class="factor2_header">Option</td>
              <td class="factor2_header">Verification</td>
              <td class="factor2_header">Security</td>
              <td class="factor2_header">Active</td>
              <td class="factor2_header"></td>
            </tr>
            <tr>
              <th>E-Mail</td>
              <td><i class="fa-solid fa-check auth_check"></i></td>
              <td><i class="fa-solid fa-shield-halved security_level security_level2"></i></td>
              <td>{% if 1 == 1 %}<i class="fa-solid fa-check auth_check"></i>{% endif %}</td>
              <td><button class="normal_button">Change</button></td>
            </tr>
            <tr>
              <th>SMS</td>
              <td><i class="fa-solid fa-check auth_check"></i></td>
              <td><i class="fa-solid fa-shield-halved security_level security_level2"></i></td>
              <td>{% if 2 == 1 %}<i class="fa-solid fa-check auth_check"></i>{% endif %}</td>
              <td><button class="normal_button">Change</button></td>
            </tr>
            <tr>
              <th>Google Authenticator</td>
              <td><i class="fa-solid fa-check auth_check"></i></td>
              <td><i class="fa-solid fa-shield-halved security_level security_level3"></i></td>
              <td>{% if 3 == 1 %}<i class="fa-solid fa-check auth_check"></i>{% endif %}</td>
              <td><button class="normal_button">Change</button></td>
            </tr>
          </table>
        </div>
      </div>

      <div class="account_statistics view_item">
        <p class="view_header">Statistics</p>
      </div>
    </div>


    <div class="account_view"></div>


    <div class="account_view"></div>
  </div>

</div>



{% endblock %}