{% extends "home/base.html" %}
{% block head %}
{% load static %}

<link rel="stylesheet" href="{% static 'account/css/login.css' %}">

<div class="login password_change flex">
  <form method="POST" class="login_form flex">
    {% csrf_token %}
    <div class="arrow_back flex">
      <i class="fa-solid fa-arrow-left-long"></i>
      <a href="{{request.META.HTTP_REFERER}}"></a>
    </div>
    <div class="arrow_back home_back flex">
      <i class="fa-solid fa-home"></i>
      <a href="{% url 'home' %}"></a>
    </div>
    <h1 class="login_header">Change Password</h1>
    <div class="account_field">
      <p>Old Password</p>
      <div class="inputField">
        <i class="fa-solid fa-key"></i>
        <input type="password" name="oldpassword" class="input" placeholder="Old Password" required>
      </div>
    </div>
    <div class="account_field">
      <p>New Password</p>
      <div class="inputField">
        <i class="fa-solid fa-key"></i>
        <input type="password" name="newpassword" class="input" placeholder="New Password" required>
      </div>
    </div>
    <div class="account_field">
      <p>Repeat Password</p>
      <div class="inputField">
        <i class="fa-solid fa-key"></i>
        <input type="password" name="repeatpassword" class="input" placeholder="Repeat Password" required>
      </div>
    </div>
    <button type="submit" class="icon_button login_button">
      <i class="fa-solid fa-arrow-right-to-bracket portfolio_icon"></i>
      <a>Change Password</a>
    </button>

    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </form>
</div>

{% endblock %}