{% extends 'home/base.html' %}
{% block head %}

{% load static %}

<link rel="stylesheet" href="{% static 'account/css/login.css' %}">

{% if user.is_authenticated %}
<div class="message_field flex">
  <p class="message_text">You are logged in already.</p>
  <button class="icon_button transition">
    <i class="fa-solid fa-arrow-right-to-bracket portfolio_icon"></i>
    <a href="{% url 'home' %}">Back</a>
  </button> 
</div>

{% else %}
<div class="signup login flex">
  <form method="POST" class="login_form flex">
    {% csrf_token %}
    <div class="arrow_back flex">
      <i class="fa-solid fa-arrow-left-long"></i>
      <a href="{{request.META.HTTP_REFERER}}"></a>
    </div>
    <div class="arrow_back home_back flex">
      <i class="fa-solid fa-home"></i>
      <a href="{% url 'home' %}"></a>
    </div>
    <h1 class="login_header">Sign Up</h1>
    <div class="inputField">
      <i class="fa-solid fa-user"></i>
      <input type="email" class="input" name="email" placeholder="E-Mail">
      <i class="fa-solid fa-check"></i>
    </div>
    <div class="inputField">
      <i class="fa-solid fa-unlock"></i>
      <input type="password" class="input" name="password1" placeholder="Password">
      <i class="fa-solid fa-check"></i>
    </div>
    <ul class="password_requirements">
      <li>8 Characters Minimum</li>
      <li>Atleast 1 Symbol</li>
      <li>Not related to your Credentials</li>
    </ul>
    
    <div class="inputField">
      <i class="fa-solid fa-lock"></i>
      <input type="password" class="input" name="password2" placeholder="Repeat Password">
      <i class="fa-solid fa-check"></i>
    </div>
    <button type="submit" class="icon_button login_button">
      <i class="fa-solid fa-arrow-right-to-bracket portfolio_icon"></i>
      <a>Sign Up</a>
    </button>
    <p class="login_redirect">Already signed up? <a class="login_link" href="{% url 'signin' %}">Login</a></p>
  
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </form>
</div>
{% endif %}



{% endblock %}