.account_profile {
  grid-area: profile;
}
.account_security {
  grid-area: security;
}
.account_statistics {
  grid-area: statistics;
}
.account_view:nth-child(1) {
  grid-template-areas:
    "profile profile security"
    "profile profile security"
    "statistics statistics security";
}
.account_profile {
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.view_header_a {
  position: absolute;
  top: 0;
  left: 0;
}
.account_logo {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
  background: var(--image-background);
  margin: 60px 0 25px 0;
}
.account_logo img {
  height: 100%;
  width: 100%;
}
.account_image_edit {
  position: absolute;
  height: 50%;
  bottom: -6px;
  width: 100%;
  background: var(--image-edit);
  border: none;
  cursor: pointer;
  font-size: 1.1em;
}

.account_field {
  margin: 30px;
}
.account_c {
  align-items: center;
  gap: 20px;
}
.account_sheader {
  margin: 0 0 2px 10px;
  font-size: 0.9em;
  color: var(--color-reverse-light);
}
.inputField {
  width: 400px;
}
.account_divider {
  height: 1px;
  width: 95%;
  background: var(--color-divider);
}

.account_user_change {
  padding: 30px;
  position: fixed;
  margin-top: 125px;
  justify-self: center;
  z-index: 0;
  align-items: center;
  flex-direction: column;
  display: none;
}
.account_user_change.show {
  display: flex;
  z-index: 5;
}
.account_user_form {
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}
.account_user_change button {
  width: 110px;
}
.account_user_hide {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}

.account_biography_change:disabled {
  color: var(--color-text-theme);
}
.account_biography_change:enabled {
  animation: color_change 1.5s linear infinite;
  color: var(--color-first);
}
@keyframes color_change {
  100% {
    color: var(--color-text-theme);
  }
  50% {
    color: var(--color-first);
  }
  0% {
    color: var(--color-text-theme);
  }
}

.account_biography_buttons {
  opacity: 0;
  margin-top: 15px;
  gap: 15px;
}
.account_biography_buttons.show {
  opacity: 1;
}
.account_biography_discard {
  background-color: red;
}

.account_security {
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  flex-direction: column;
}
.password_field {
  margin-top: 80px;
}
.factor2_title {
  text-align: center;
  margin-bottom: 30px;
}
table tr {
  background: var(--color-theme-contrast);
}
table tr td {
  width: 110px;
  height: 50px;
}
table tr th {
  width: 200px;
}
.factor2_header {
  color: var(--color-text-theme);
}
.security_level {
  font-size: 25px;
  margin: auto;
}
.security_level2 {
  color: yellow;
}
.security_level3 {
  color: rgb(0, 255, 8);
}
table tr td {
  text-align: center;
}
table tr td button {
  margin: auto;
}
.auth_check {
  color: rgb(6, 250, 6);
}

@media screen and (max-width: 1400px) {
  .account_view:nth-child(1) {
    grid-template-areas:
      "profile"
      "security"
      "statistics";
  }
}
